.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item button {
    border: none;
    padding: 8px;
    background-color: red;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}