.product {
    border: 1px solid darkmagenta;
    padding: 1em;

}

.picture {
    height: 300px;
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details button {
    padding: 1em;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    background-color: darkmagenta;
    color: yellow;
}